## Welcome to Python

Python is a programming language which can be used to make computer games, cross platform softwares, website applications and much more.


## Download and Installation

Visit the offical website - https://www.python.org/


## Introduction

This notebook is made from the python tutorial series by Bucky.
This notebook is developed using Python 3.


## Editors

You can use IDLE, Sublime, Atom, Visual Studio Code or any other editor.

## Basics

In [1]:
# Addition

3 + 4

7

In [2]:
# Multiplication

5 * 20

100

In [3]:
# Bodmas

8 + 2 * 10

28

In [4]:
# Paranthesis

(8 + 2) * 10

100

In [5]:
# Float Division
# Returns the actual division output

18 / 4

4.5

In [6]:
# Integral Division
# Returns the integer part of the division

18 // 4

4

In [7]:
# Remainder

18 % 4

2

In [8]:
# Power

5 ** 3

125

## Variables

### Integers

In [9]:
x = 5
y = 5

In [10]:
x + y

10

In [11]:
5 ** x

3125

### Strings

In [12]:
'String is comprised of characters in quotes'

'String is comprised of characters in quotes'

In [13]:
"It also works in double quotes"

'It also works in double quotes'

In [14]:
'I don't think if this works'

SyntaxError: invalid syntax (<ipython-input-14-f8997715f0be>, line 1)

In [15]:
# Escaping character

'I don\'t think this will create any problem.'

"I don't think this will create any problem."

In [16]:
# Use double quotes to remove this type of problem

"Just don't use single quotes!!"

"Just don't use single quotes!!"

In [17]:
# Formatting Characters

# Tab - '\t'
# Newline - '\n'

print('C:\Desktop\newfolder')

C:\Desktop
ewfolder

In [18]:
# Use r to consider the raw string i.e. without any formatting

print(r'C:\Desktop\newfolder')

C:\Desktop\newfolder

In [19]:
# String multiplication

x = 'String '
x * 5

'String String String String String '

In [20]:
# String Concatenation

'Rajat ' + 'Goyal'

'Rajat Goyal'

In [21]:
# Integer to String Conversion

quantity = 5
denomination = " Rupees"

str(quantity) + denomination

'5 Rupees'

In [22]:
name = 'Rajat Goyal'

# Substring of a string by defining the range
name[3:8]

'at Go'

In [23]:
# Substring by defining the start index
name[6:]

'Goyal'

In [24]:
# Substring by defining the end index
name[:8]

'Rajat Go'

In [25]:
# Substring without any index specified will return the original string
name[:]

'Rajat Goyal'

In [26]:
# Print function which outputs the value on the console screen

print("Hello World")

Hello World

In [27]:
# Length of a string - Blankspace also counts as a character

len("Hello World")

11

### Characters

In [28]:
name = "Rajat Goyal"

# Access characters of string which is 0-indexed using square brackets
name[0]

'R'

In [29]:
# Access characters from the last using -1 indexing
name[-1]

'l'

### Lists

In [30]:
# Define a list of primitive data types

marks = [49, 53, 87, 65, 71]

In [31]:
# Access the list which is 0-indexed i.e. (0, 1, 2, ... , n-1)

marks[0]

49

In [32]:
# Change any value in the list

marks[2] = 57

marks

[49, 53, 57, 65, 71]

In [33]:
# Add new elements to the list

updatedMarks = marks + [84, 68]
updatedMarks

[49, 53, 57, 65, 71, 84, 68]

In [34]:
# Add elements one at a time

marks.append(91)
marks

[49, 53, 57, 65, 71, 91]

In [35]:
# Sublist of a list

marks[:2]

[49, 53]

In [36]:
# Change sublist to a new list

marks[:2] = [0]
marks

[0, 57, 65, 71, 91]

## Loops

### If

In [37]:
age = 27

if age >= 18:
    print("I can vote now!")

I can vote now!

### If-Else

In [38]:
name = "Rajat"

if name is "Rajat":
    print('Hello Lord!')
else:
    print("I don't know ya")

Hello Lord!

### If - Else If - Else

In [39]:
num = 18

if num % 15 == 0:
    print("FooBar")
elif num % 5 == 0:
    print("Foo")
elif num % 3 == 0:
    print("Bar")
else:
    print("Nothing")

Bar

### For

In [40]:
foods = ['bacon', 'tuna', 'ham', 'beef']

for f in foods:
    print(f)
    print(len(f))

bacon
5
tuna
4
ham
3
beef
4

### Range

In [41]:
# 1 argument - [0,n-1]
for x in range(5):
    print(x)

0
1
2
3
4

In [42]:
# 2 arguments - [a, b-1]
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [43]:
# 3 arguments - arithmetic progression with 3rd argument as the difference
for x in range(0, 25, 5):
    print(x)

0
5
10
15
20

### While

In [ ]:
num = 5

while num < 10:
    print("Num :", num)
    num += 1

## Flow Control

### Break

In [44]:
number = 5

for n in range(11):
    if n is number:
        print("Found the number!!")
        break
    print('-')

-
-
-
-
-
Found the number!!

### Continue

In [45]:
number = 5

for n in range(11):
    if n is number:
        print("Skip the number!!")
        continue
    print(n)

0
1
2
3
4
Skip the number!!
6
7
8
9
10

## Comments

### Single Line

In [46]:
# This is a single line comment

### Multi Line

In [47]:
print('Hello')

'''
Triple quotes are used for
    - multi
    - line
    - comments
'''

print('world')

Hello
world